body > div[class="container-fluid"] {
    background-color: #008200;
    height: 50px;
}

body > div[class="container-fluid"] > img {
    margin: 80px;
}

body > div[class="container-fluid"] > div[class="row"] {
    padding: 0%;
    align-items: center;
}

body > div[class="container-fluid"] > div[class="row"] > div {
    width: 150px;
}

body > div[class="container-fluid"] > div[class="row"] div {
    text-align: center;
}

body > div[class="container-fluid"] > div[class="row"] div span {
    font-size: 70px;
}

body > div[class="container-fluid"] > div > div > a {
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    margin: 0px;
}

body > div[class="container-fluid"] h2[class="Titulo_primer_parrafo"] {
    text-indent: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

body > div[class="container-fluid"] p[class="Contenido_primer_parrafo"] {
    font-size: 25px;
    text-indent: 80px;
    margin: 1px;
}

body > div[class="container-fluid"] h2[class="Servicios"] {
    text-indent: 80px;
    margin: 1px;
}

#Franja_gris_encabezado {
    height: 100px;
    text-indent: 80px;

    background-color: gainsboro;
}

#Franja_gris {
    height: 420px;

    background-color: gainsboro;
}

#Franja_gris div img {
    width: 100px;
}

#Franja_gris div[class="col-4 col-sm-4 col-lg-4"] {
    text-align: left;
}

#Franja_gris div[class="col-4 col-sm-4 col-lg-4"] div {
    font-size: 20px;
    width: 300px;
    text-align: left;
}

#Franja_gris > div button{
    background-color: #008200;
    font-size: 20px;
    height: 60px;
    width: 300px;
}

#Franja_blanca_encabezado {
    height: 100px;

    background-color: white;
}
/*-------------------------------------------*/
#Franja_blanca {
    height: 420px;

    background-color: white;
}

#Franja_blanca div img {
    width: 100px;
}

#Franja_blanca div[class="col-4 col-sm-4 col-lg-4"] {
    text-align: left;
}

#Franja_blanca div[class="col-4 col-sm-4 col-lg-4"] div {
    font-size: 20px;
    width: 300px;
    text-align: left;
}

#Franja_blanca > div button{
    background-color: #008200;
    font-size: 20px;
    height: 60px;
    width: 300px;
}

#Franja_grisdoble_encabezado {
    height: 100px;
    text-indent: 80px;
    background-color: gainsboro;
}

#Franja_grisdoble {
    height: 350px;

    background-color: gainsboro;
}

#Franja_grisdoble div img {
    width: 100px;
}

#Franja_grisdoble div[class="col-4 col-sm-4 col-lg-4"] {
    text-align: left;
}

#Franja_grisdoble div[class="col-4 col-sm-4 col-lg-4"] div {
    font-size: 20px;
    width: 300px;
    text-align: left;
}

#Franja_grisdoble > div button{
    background-color: #008200;
    font-size: 20px;
    height: 60px;
    width: 300px;
}

#Franja_blanca_encabezado > h2 {
    text-indent: 80px;
    margin-top: 40px;
    margin-bottom: 20px;
}

body div div div p {
    font-size: 20px;
    text-indent: 80px;
    margin: 1px;
}

body div div div div div button {
    height: 50px;
    width: 300px;
}

#Caja_gris {
    height: 310px;
    width: 800px;
    margin-top: 40px;
    background-color: gainsboro;
}

#Caja_gris p {
    font-size: 18px;
    text-align: left;
    margin: 1px;
}

#Caja_gris img {
    height: 100px;
    width: 250px;
    margin: 20px;
}

#fundadores {
    /*height: 3000px;*/
    width: 1000px;
    vertical-align: top;
}

#fundadores div[class="row"] h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

#companeros {
    /*height: 3000px;*/
    width: 1000px;
    vertical-align: top;
}

#companeros div[class="row"] h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

#suportes {
    /*height: 3000px;*/
    width: 1000px;
    vertical-align: top;
}

#suportes div[class="row"] div img {
    /*height: 30px;
    width: 70px;
    margin: 10px;*/
    width: 70%;
    margin: 30px;
}

#amigos {
    /*height: 3000px;*/
    width: 1000px;
    vertical-align: top;
    margin-bottom: 30px;
}

#amigos div[class="row"] h2 {
    margin-top: 40px;
    margin-bottom: 20px;
}

#amigos a {
    font-size: 11px;
    margin-left: 40px;
    text-decoration: underline;
    color: green;
}

#row_about {
    background-color: gainsboro;
}

#about {
    height: 2200px;
    margin-bottom: 50px;
    background-color: gainsboro;
}

#about h2 {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

#about p {
    text-align: left;
    margin-top: 40px;
    margin-bottom: 20px;
}

#about ul {
    font-size: 20px;
}

#about ul {
    text-align: left;
}

#contenedor_de_franja {
    height: 400px;
    width: 2000px;
}

#contenedor_de_franja .Cajita {
    height: 300px;
    width: 300px;
}

#contenedor_de_franja .Cajitadoble {
    height: 200px;
    width: 300px;
}

#boton_sponsors {
    margin-top: 30px;
}

#pie_de_pagina {
    height: 220px;
    background-color: #008200;
    text-align: left;
}

#pie_de_pagina p {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-align: left;
    margin: 30px;
}

#pie_de_pagina p a {
    font-size: 25px;
    text-decoration: underline;
    color: white;
    text-align: left;
}

#pie_de_pagina div {
    height: 220px;
    width: 800px;
    background-color: #008200;
}